.container {
  height: 100vh;
  width: 100vw;
}

.text {
  font-size: 18px;
  line-height: 30px;
}

.hero {
  text-align: center;
  height: 300px;
  background-color: #FFF5E8;
  margin-bottom: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  /* border: 1px solid red; */
}

.hero-button {
  height: 50px;
  width: 350px;
  border-radius: 30px;
  border: 2px solid #000;
  font-size: 16px;
  font-weight: 600;
  background-color: #FFED00;
}

.hero-button:hover {
  cursor: pointer;
}

/* CRAFT CARD! */

.card {
  border: 1px solid black;
  padding: 10px;
  width: 20rem;
}

.cards-list {
  list-style: none;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
}